#about {
	padding: 50px 0;
	.aboutImg {
		width: 80%;
	}
}

.contactList {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		.contactLink {
			text-decoration: none;
			color: white;
		}
	}
}
#freeTime {
	margin-bottom: 50px;
	h2 {
		display: flex;
		flex-wrap: wrap;
		font-size: 2rem;
		margin-bottom: 15px;
	}
	.freeTimeList {
		list-style: none;
	}
}

.techHeader {
	font-size: 3rem;
	text-decoration: underline;
	text-align: center;
}

.techRow {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
	.aboutTech {
		border: 1px solid #8a2be2;
		box-shadow: 5px 5px 5px 0px #ffffff3d;
		border-radius: 10px;
		width: auto;
		padding: 40px;
	}
}

@media (max-width: 768px) {
	/* For mobile phones: */
	.techRow {
		.aboutTech {
			padding: 10;
		}
	}
}
